body {
    background:#FFFFFF;
}
table {
    width:85%;
    align:center;
}

table, th, td {
    border-collapse: collapse;
    border-top:1px solid #AFEEEE;
    border-bottom:1px solid #AFEEEE;
    border-left:0px;
    border-right:0px;
    border-top:0px;
    align:center;
}
th, td {
    padding: 5px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #F0F8FF;
    color:#00008B;
}
table tr:nth-child(odd) {
   background-color:#AFEEEE;
   color:#00008B;
}
caption {
    padding-top:50px; 
    padding-bottom:30px;
    padding-left:auto;
    padding-right:auto;

}

