<html>

<head>
<meta content="test/html ; charset=big5" http-equiv="Content-Type"
<title></title>

<link rel="stylesheet" type="text/css" href="style_page1.css">

</head>

<body bgcolor=FFFFFF bgproperties=fixed topmargin=0 leftmargin=0 oncontextmenu='return false' ondragstart='return false' onselectstart='return false'>
<center>

<table width=100% border=0>
<tr><td><a href="/ip/25/" target=page2>25</a></td></tr>
<tr><td><a href="/ip/26/" target=page2>26</a></td></tr>
</table>

</center>
</body>
</html>
